#kubejs folder, don't ignore non-temp files
/kubejs/*
!/kubejs/data/
!/kubejs/config/
!/kubejs/assets/
!/kubejs/README
#dist folder
/dist
#node_modules
/node_modules
# local config
localConfig.json
# Symlinks
src/server_scripts/common.js
# Vscode
.vscode
## Annoying config files
/config/*
!/config/ftbquests
!/config/megacells.json
!/config/sgjourney-common.toml
!/config/sidebar_buttons.json
!/config/theoneprobe-common.toml
# ae2
!/config/ae2
/config/ae2/*
!/config/ae2/common.json
# advanced peripherals
!/config/Advancedperipherals
/config/Advancedperipherals/*
!/config/Advancedperipherals/world.toml
