#kubejs folder, don't ignore non-temp files
/kubejs/*
!/kubejs/data/
!/kubejs/config/
!/kubejs/assets/
!/kubejs/README
#dist folder
/dist
#node_modules
/node_modules
# local config
localConfig.json
# Symlinks
src/server_scripts/common.js
# Vscode
.vscode
## Annoying config files
/config/*
!/config/ftbquests
!/config/megacells.json
!/config/sgjourney-common.toml
!/config/sidebar_buttons.json
!/config/theoneprobe-common.toml
# ae2
!/config/ae2
/config/ae2/*
!/config/ae2/common.json
# ad astra giselle edition
!/config/ad_astra_giselle_addon.jsonc
# advanced peripherals
!/config/Advancedperipherals
/config/Advancedperipherals/*
!/config/Advancedperipherals/world.toml
# apotheosis
!/config/apotheosis
/config/apotheosis/*
!/config/apotheosis/names.cfg
!/config/apotheosis/apotheosis.cfg
# cooking for blockheads
!/config/cookingforblockheads-common.toml
/probe
/jsconfig.json
